/.CupidoDescriptionLabelProvider.java._trace
/.CupidoDescriptionLabelProvider.xtendbin
/.CupidoLabelProvider.java._trace
/.CupidoLabelProvider.xtendbin
/CupidoDescriptionLabelProvider.java
/CupidoLabelProvider.java
